# 1. Load Raw Dataset and Explore Dataset Structure

In [9]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

df = pd.read_csv("/Users/mac/Documents/Ecommerce_Project/synthetic_ecommerce_sales_2025.csv")

df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          100000 non-null  int64
 1   customer_id       100000 non-null  object
 2   product_category  100000 non-null  object
 3   product_price     100000 non-null  float64
 4   quantity          100000 non-null  int64
 5   order_date        100000 non-null  object
 6   region            100000 non-null  object
 7   payment_method    100000 non-null  object
 8   delivery_days     100000 non-null  int64
 9   is_returned       100000 non-null  int64
 10  customer_rating   100000 non-null  float64
 11  discount_percent  100000 non-null  int64
 12  revenue           100000 non-null  float64
dtypes: float64(3), int64(5), object(5)
memory usage: 9.9+ MB

,order_id,product_price,quantity,delivery_days,is_returned,customer_rating,discount_percent,revenue
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,250.962504,3.085480,4.984620,0.060600,3.500493,5.014700,734.148001
std,28867.657797,141.743414,1.438706,2.579517,0.238596,0.867731,6.138865,571.191290
min,1.000000,4.518000,1.000000,1.000000,0.000000,2.000000,0.000000,4.260000
25%,25000.750000,128.387500,2.000000,3.000000,0.000000,2.800000,0.000000,274.110000
50%,50000.500000,251.430000,3.000000,5.000000,0.000000,3.500000,0.000000,585.550000
75%,75000.250000,372.270000,4.000000,7.000000,0.000000,4.200000,10.000000,1089.855000
max,100000.000000,500.000000,6.000000,9.000000,1.000000,5.000000,20.000000,2699.140000

# 2. Drop unused columns

In [10]:
columns_to_drop = [
    "customer_id",
    "delivery_days",
    "discount_percent"
]

df = df.drop(columns=columns_to_drop)

# 3. Convert Date Column to Datetime

In [11]:
df["order_date"] = pd.to_datetime(df["order_date"])
df["year"] = df["order_date"].dt.year
df['month'] = df["order_date"].dt.month
df["year_month"] = df["order_date"].dt.to_period("M")

# 4. Define Column Types

In [12]:
categorical_cols = [
    "product_category",
    "region",
    "payment_method"
]

numerical_cols = [
    "product_price",
    "quantity",
    "year",
    "month",
    "is_returned",
    "customer_rating",
    "revenue"
]

df[categorical_cols] = df[categorical_cols].astype("category")
df[numerical_cols] = df[numerical_cols].apply(pd.to_numeric, errors="coerce")

# 5. Check Missing Values

In [13]:
df.isnull().sum()

order_id            0
product_category    0
product_price       0
quantity            0
order_date          0
region              0
payment_method      0
is_returned         0
customer_rating     0
revenue             0
year                0
month               0
year_month          0
dtype: int64

# 6. Reorder the Dataset

In [14]:
cols = df.columns.tolist()
for col in ["year", "month", "year_month"]:
    cols.remove(col)

order_date_index = cols.index("order_date")
new_cols = (
    cols[:order_date_index + 1]
    + ["year", "month", "year_month"]
    + cols[order_date_index + 1:]
)

df = df[new_cols]

# 7. Save Cleaned Data

In [15]:
df.to_csv(
    "/Users/mac/Documents/Ecommerce_Project/cleaned_ecommerce_sales.csv",
    index=False
)